.about-wrap {
  overflow: hidden;

  .about-title {
    margin-right: 0;

    sup {
      background: #fff;
      color: #666;
      font-size: 33.333%;
      font-weight: bold;
      padding: 5px 10px;
      white-space: nowrap;
    }

    & + p {
      font-size: 1.2em;
    }
  }
  img.about-logo {
    width: 280px !important;
    margin-right: 5px;
  }

  h2.nav-tab-wrapper {
    float: left;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1em;

    .nav-tab {
      float: left;
      font-weight: 400;
      margin-bottom: 0;

      &.hidden {
        display: none;
      }
    }

    .nav-tab-active,
    .nav-tab-active:hover {
      border-bottom: 0;
    }

    .nav-tab-active {
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        bottom: -1px;
        height: 1px;
        left: 0;
        background: #f1f1f1;
      }
    }
  }

  .notice {
    display: block !important;
    margin-top: 15px;
    margin-bottom: 0;
    width: 100%;
    box-sizing: border-box;
  }

  .last-feature {
    margin-right: 0 !important;
  }

  .panel {
    border-bottom: none;
    display: none;
    float: left;
    width: 100%;

    &:first-child {
      display: block;
    }

    .js & {
      display: none;
    }

    .submit {
      clear: both;
    }
  }

  .envato-market-blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .envato-market-block {
    margin-bottom: 20px;
    width: 49%;
    width: calc(50% - 10px);

    ol ul {
      padding: 10px 0 5px 17px;
      list-style: disc;
    }
  }

  .screenshot-image {
    text-align: right;

    img {
      max-width: 100%;
      height: auto;
    }

    span {
      background: #0074a2;
      color: #fff;
      font-size: .618em;
      text-transform: uppercase;
      padding: .53em 1em;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .plugin-card {
    width: 100%;

    .plugin-action-buttons {
      font-size: 13px;
    }
  }

  #envato-market-items {
    margin: 0;
    padding: 0;

    li {
      background-color: #fff;
      border: 1px solid #dedede;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      min-height: 40px;
      padding: 10px;
      padding-right: 40px;
      position: relative;

      &.not-authorized {
        border-color: #dc3232;
      }
    }

    .item-delete {
      background: none;
      border: none;
      box-shadow: none;
      color: #b3b9be;
      cursor: pointer;
      padding: 0;
      position: absolute;
      right: 0px;
      top: 0px;
      width: 38px;
      height: 38px;

      &:hover,
      &:focus {
        color: #d61c00;
      }

      &:focus {
        -webkit-box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, .8);
        box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, .8);
      }
    }
  }
}

#envato-market-dialog-form,
#envato-market-dialog-remove {
  div.notice {
    margin: 0 0 10px 0 !important;
  }
}

.envato-card {
  background-color: #fff;
  border: 1px solid #dedede;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;

  &.active {
    border-color: #aaa;
  }

  .envato-card-top {
    min-height: 140px;
    padding: 20px;
    position: relative;
    flex-grow: 1;

    .column-icon {
      height: 80px;
      left: 20px;
      margin: 0 20px 20px 0;
      position: absolute;
      top: 20px;
      width: 80px;
    }

    .column-name {
      margin-left: 100px;

      h4 {
        font-size: 18px;
        line-height: 1.3;
        margin: 0 0 12px;

        span {
          color: #999;
          display: inline-block;
          font-size: 13px;
          font-weight: 400;
          margin-left: 5px;
        }
      }
    }

    .column-description {
      margin-left: 100px;

      .description {
        display: block;
        width: 100%;

        &.closed {
          max-height: 45px;
          overflow: hidden;
        }

        p:last-child {
          margin: 0;
        }
      }

      a.read-more {
        margin-top: .5em;

        &:active,
        &:focus {
          -webkit-box-shadow: none;
          box-shadow: none;
        }
      }

      .author {
        margin-bottom: 0;
      }
    }

    .column-update {
      background: #d54e21;
      background: rgba(213, 78, 33, 0.9);
      color: #fff;
      display: block;
      font-size: 13px;
      font-weight: 400;
      min-height: 48px;
      line-height: 1;
      padding: 0 10px;
      position: absolute;
      top: 0;
      left: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      overflow: hidden;
      width: 100%;
      box-sizing: border-box;

      &.update-complete {
        background: #79ba49;
        background: rgba(121, 186, 73, 0.9);
      }

      a {
        color: #fff;
        outline: none;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        &:active,
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      .update-now {
        display: block;
        float: left;
        padding: 12px 0;

        &:before {
          color: #fff;
          content: '\f463';
          display: inline-block;
          font: normal 20px/1 'dashicons';
          margin: 0 5px -1px 0;
          speak: none;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          vertical-align: text-bottom;
        }
      }

      .updating-message:before {
        content: '\f463';
        -webkit-animation: rotation 2s infinite linear;
        animation: rotation 2s infinite linear;
      }

      .updated-message:before {
        content: '\f147';
      }

      .details {
        display: block;
        float: right;
        padding: 18px 0 8px;
      }
    }
  }

  .envato-card-bottom {
    background-color: #fafafa;
    border-top: 1px solid #dedede;
    clear: both;
    overflow: hidden;
    padding: 12px 20px;

    .column-rating {
      float: left;
      margin-top: 4px;
    }

    .column-actions {
      float: right;

      .button {
        margin-left: 10px;
        margin-bottom: 0 !important;

        &:first-child {
          margin-left: 0px;
        }
      }
    }

    .star-rating {
      display: inline;
    }

    .num-ratings {
      font-size: 13px;
      line-height: 23px;
    }
  }

  &.active {
    .envato-card-bottom {
      border-top-color: #aaa;
    }
  }

  .button-delete {
    color: #a00;
    padding: 0 5px;
    line-height: 2;
    text-decoration: none;

    &:hover {
      color: #f00;
      border: none;
    }
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@media screen and (min-width: 783px) and (max-width: 1030px) {
  .envato-card {
    .envato-card-bottom {
      .num-ratings {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 783px) {
  .about-wrap {
    h2.nav-tab-wrapper {
      .nav-tab-active {
        box-shadow: none;
      }
    }

    #settings {
      .form-table {
        th,
        td {
          float: left;
          display: block;
          width: 100%;
        }

        th {
          padding-bottom: 0;
        }

        td {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    p.submit {
      margin-top: 0;
      padding-top: 0;
    }
  }
}

@media screen and (max-width: 782px) {
  .about-wrap {
    h2.nav-tab-wrapper {
      border: none;
      padding: 0;

      .nav-tab {
        border-bottom: 1px solid #ccc;
        text-align: center;
        margin: 0 0 1% 0;
        padding: 2%;
        width: 100%;
        box-sizing: border-box;
      }

      .nav-tab-active,
      .nav-tab-active:hover {
        background: #fff;
        border-bottom: 1px solid #ccc;

        &:after {
          display: none;
        }
      }
    }

    .envato-market-block {
      width: 100%;
    }

    #themes,
    #plugins {
      > div:first-child {
        margin-top: 0 !important;
      }
    }

    p.submit {
      float: left;
      margin-top: 1.25em;
      width: 100%;
    }

    .screenshot-image {
      text-align: left;

      img {
        max-width: 100%;
      }
    }

    .button-delete {
      font-size: 15px;
    }

    .column-description {
      .description {
        max-height: none !important;
        overflow: visible !important;
      }

      a.read-more {
        display: none !important;
      }
    }
  }
}


.healthcheck-item {
  padding: 0 0 14px 25px;
  position: relative;

  &::before {
    position: absolute;
    opacity: 0.7;
    font-family: dashicons;
    font-size: 16px;
    vertical-align: bottom;
    left: 0;
  }
}

.healthcheck-ok {
  @extend .healthcheck-item;

  &::before {
    content: '\f12a';
    color: #80b341;
  }
}

.healthcheck-error {
  @extend .healthcheck-item;

  &::before {
    content: '\f153';
    color: #ef3962;
  }

  .limitTitle {
    color: #ef3962;
  }
}

.healthcheck-item-title {
  font-weight: 500;
  white-space: nowrap;
}

.healthcheck-item-message {
  margin-left: 5px;
}
