<phpunit
	bootstrap="tests/phpunit/includes/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<php>
		<const name="WP_TEST_ACTIVATED_PLUGINS" value="envato-market/envato-market.php" />
	</php>
	<testsuites>
		<testsuite>
			<directory suffix=".php">tests/phpunit/tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">.</directory>
			<exclude>
				<directory suffix=".php">dev-lib</directory>
				<directory suffix=".php">node_modules</directory>
				<directory suffix=".php">tests</directory>
				<directory suffix=".php">vendor</directory>
				<directory suffix=".php">inc/admin/view</directory>
				<file>inc/admin/class-envato-market-theme-installer-skin.php</file>
				<file>inc/admin/class-envato-market-theme-upgrader.php</file>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
